<div class="jumbotron">
  <h1>La información intruductoria va aquí.</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Blanditiis dignissimos distinctio, enim eos laborum odit praesentium sequi! Ad,
    deleniti dignissimos earum itaque laborum magnam omnis quidem ut voluptatibus? Magnam, sed!
  </p>
</div>
